/* Nav styling */
nav .navbar-brand{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav .collapse ul li a{
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav .navbar-brand .fa-code, .logo{
    color: rgb(241, 86, 80);
}
nav .navbar-nav li .btn{
    border: 2px solid white;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav .navbar-nav li .a1{
    border: 2px solid rgb(241, 86, 80);
}
nav .navbar-nav li .active{
    border-bottom: 3px solid rgb(241, 86, 80);
}
.home{
    margin-top: 6%;
}
.home .hm{
    text-align: left;
    position: absolute;
    top: 20%;
}
.home .hm h1{
    font-weight: 700;
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, rgb(241, 86, 80), #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 8s linear infinite;
  position: relative;
}
.home .hm p{
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home .hm .btn{
    background-color: rgb(241, 86, 80);
    padding: 10px;
    width: 10%;
    border-radius: 20px;
}
.home .hm .tx{
    color: rgb(241, 86, 80);
    font-weight: bold;
}
/* ABOUT US STYLING */
.about{
    margin-top: 4%;
}
.about h1{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
.about p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.about .ab1{
    background-image: linear-gradient(rgb(0,0,0,0.5), rgb(241,86,80), rgb(0,0,0,0.5));
    border-radius: 20px;
    padding: 50px;
}
.about .ab2 .b1{
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
}
.about .ab2 .fa-globe{
    font-weight: bold;
    font-size: 45px;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
    border-radius: 10px;
    margin-left: 5%;
}
.about .ab2 .b1 h1{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 5%;
}
.about .ab2 .b1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 5%; 
}
.about .ab2 .b1 img{
    margin-top: 5%;
    margin-bottom: 7%; 
}
.about .ab2 .b2{
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
    margin-left: 8%;
}
.about .ab2 .fa-file{
    font-weight: bold;
    font-size: 45px;
    margin-top: 15%;
    margin-bottom: 5%;
    padding: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
    border-radius: 10px;
    margin-left: 5%;
}
.about .ab2 .b2 h1{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 5%;
}
.about .ab2 .b2 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 5%; 
}
.about .ab2 .b2 img{
    margin-top: 5%;
}
/* about us cont'd styling */
.abu{
    background-image: linear-gradient(rgba(30, 71, 49, 0.5), rgb(20, 66, 45)); 
    border-radius: 10px; 
    box-shadow: 8px 6px 6px 5px rgba(30, 71, 49, 0.5) ;
  }
  .abu .tx1{
      margin-top: 5%;
      text-transform: uppercase;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .abu .tx2{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 50px;
      margin-left: 8%;
  }
  .abu .tx2 .fa-star{
      color:  rgb(45, 226, 145) ;
      font-size: 30px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .abu .tx3{
      font-size: 25px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .abu .tx4{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
  }

  /* Footer styling */
footer{
    margin-top: 8%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
    padding: 80px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer h2{
    font-size: 28px;
}
footer .fa-code{
    color: rgb(241, 86, 80);
}
footer .lang{
    margin-top: 2%;
}
footer .lang span{
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
    border-radius: 10px;
}
footer .lang span:hover{
    background-color: rgb(241, 86, 80);
}
footer ul{
    list-style-type: none;
}
footer li{
    padding: 5px;
}
footer li a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
}
footer .fa-angle-right{
    color: rgb(241, 86, 80);
}
/* footer styling ends */

  /* Responsive styling */
@media (max-width: 845px){
    /* about us styling */
    .about h1{
        font-size: 30px;
    }
    .about p{
        font-size: 15px;
    }
    .about .ab1{
        padding: 30px;
    }
    .about .ab2 .b2{
        margin-left: -1%;
        margin-top: 5%;
    }
    /* about us cont'd styling */
    .abu{
        margin-top: 6%;
    }
    .abu .tx4{
        font-size: 17px;
    }
    .home .hm h1{
        font-size: 35px;
    }
    .home .hm p{
        font-size: 20px;
    }
    .home .hm .btn{
        width: 30%;
    }
    footer .lang{
        margin-bottom: 5%;
    }
}

@keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }